<div class="error-wrapper">
  <div class="error-content">
    <div class="image-section">
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/404-error-3702359-3119148.png" alt="404 Not Found">
    </div>
    <div class="text-section">
      <h1>Oops!</h1>
      <h3>Page Not Found</h3>
      <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
      
      <a routerLink="/" class="btn-primary">Back to Home</a>
    </div>
  </div>
</div>